.ask#ask_button
	Solicitar

%dl.tabs{:data => { "tab" =>""}}
	%dd.active
		%a{:href => "#panel1"}
			Twitter
	%dd
		%a{:href => "#panel2"}
			Instagram

.tabs-content
	.content.active#panel1
		%p
			Lo que sea
	.content#panel2
		%p
			Lo que sea 2
