.loader
	%h2
		Cargando        	

.row.alert.alert-box{:data => {"alert" => ""}}
	.large-12.columns.text-center

.ask#ask_button
	Solicitar

%dl.tabs{:data => { "tab" =>""}}
	%dd.active
		%a{:href => "#paneltwitter"}
			Twitter
	%dd
		%a{:href => "#panelinstagram"}
			Instagram

.tabs-content
	.content.active#paneltwitter
	.content#panelinstagram
