.panelmediatoshow
.promo.text-center
	= image_tag ("banner-de-twetts.jpg")
.row.start
	.large-10.columns
		%br/
	.large-2.columns.animation
		.btn_animation.text-center#startanimation
			%p
				Iniciar Animación