// Place all the styles related to the media controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.corbatin .grid
	float: left
	position: relative

.vertical_moved
	top: 384px

.corbatin
	position: relative
	display: inline-block

.corbatin .grid .cellblock
	border: 1px solid black
	width: 128px 
	height: 128px
	overflow: hidden

.panelmediatoshow
	height: 1000px
	width: 2000px
	position: absolute
	background: blue
	z-index: 99999
	display: none

.media_text
	font-size: 50pt
	line-height: 1