// Place all the styles related to the media controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.corbatin .grid
	float: left
	position: relative

.vertical_moved
	top: 384px

.corbatin
	position: relative
	display: inline-block

.corbatin .grid .cellblock
	width: 128px 
	height: 128px
	overflow: hidden
	border: 1px solid black

.panelmediatoshow
	height: 600px
	width: 1200px
	position: absolute
	background: white
	border: 1px solid gray
	z-index: 9999
	display: none

.panelmediatoshow h2
	margin-right: 3rem

.panelmediatoshow.twitter h2, .promo span.twitter
	color: #2AB1EC

.panelmediatoshow.instagram h2, .promo span.instagram
	color: #36609F

.panelmediatoshow .row
	max-width: none
.panelmediatoshow .row, .panelmediatoshow .columns
	height: 100%

.panelmediatoshow p
	word-break: break-all

.panelmediatoshow .row .large-5
	padding: 0
	overflow: hidden

.social
	position: relative
	
.panelmediatoshow .row img
	width: 400px

.media_text
	font-size: 35pt
	line-height: 1
	position: relative
	margin-right: 3rem


.cellblock .media_image
	height: 128px
	width: 128px


.social
	width: 100px !important

.panelmediatoshow .columns.large-5.imagen
	padding: 5rem 0
	overflow: hidden

.animation.large-3
	padding: 0

.btn_animation
	background: url("btn.png") no-repeat
	background-size: cover
	cursor: pointer
	padding: 1.5rem

.image_parent_container
	display: table
	height: 100%
	width: 100%

.image_container
	display: table-cell
	vertical-align: middle

.promo
	height: 512px
	width: 1100px
	position: absolute
	border: 1px solid gray
	right: -492px
	z-index: 9999999999999
	background: white
	font-size: 60pt
	line-height: 6
	padding: 0 3rem
	display: none


.row.start
	max-width: none

.row.start .btn_animation p
	font-size: 30pt
	line-height: 1